{
  "presets": [
    [
      "@babel/preset-modules",
      {
        "loose": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
